certifi==2024.8.30
cffi==1.17.1
contourpy==1.3.0
cycler==0.12.1
filelock==3.16.0
fonttools==4.53.1
fsspec==2024.9.0
idna==3.8
imutils==0.5.4
jinja2==3.1.4
kiwisolver==1.4.7
markupsafe==2.1.5
matplotlib==3.9.2
mpmath==1.3.0
networkx==3.3
numpy==1.26.4
pillow==10.4.0
py-cpuinfo==9.0.0
pycparser==2.22
pyheif==0.8.0
pyparsing==3.1.4
pyqt5==5.14.2
pyqt5-qt5==5.15.14
pyqt5-sip==12.15.0
pyserial==3.5
pyyaml==6.0.2
requests==2.32.3
scipy==1.14.1
seaborn==0.13.2
sympy==1.13.2
torch==2.4.1
torchvision==0.19.1
tqdm==4.66.5
triton==3.0.0
ultralytics==8.2.91
ultralytics-thop==2.0.6
urllib3==2.2.2
